body{
    background-size: cover;
}
.heading{
    font-size:30px;
    width:100%;
    margin:0px;
    box-shadow:3px 3px 3px rgba(21, 20, 21, 0.913);
    color:rgb(62, 60, 60);
}

.note{
    font-size:15px;
    color:rgb(59, 55, 55);
}

.copy_right_footer{
position:fixed;
bottom:0;
color:rgb(42, 40, 40);
background-color: rgb(229, 17, 17);
width:100%;
line-height:5;
text-align:left;
font-size:15;
}

canvas{
    border:3px dotted grey;
border-radius:20px;
box-shadow:3px 3px 3px black;
}